@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

* {
    text-decoration: none;
    color: black;
    font-family: "Anta", sans-serif;
    font-size: 1em;
    font-style: normal;
}

body {
    margin: 0;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

#grid { 
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
    }

#grid > div {
    font-size: 4vw;
    padding: .5em;
    text-align: center;
    border: 1px solid darkgray;
}