@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

* {
    font-family: "Anta", sans-serif;
    font-style: normal;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 2em;
}

#container {
    border: 2.5px solid darkgray;
}

.eachbox {
    border: 5px solid darkgray;
    height: 125px;
    width: 125px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    background-color: black;
    display: flex;
}