.custom-select, .custom-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    font-size: 1rem;
    color: #515151;
    background: transparent;
    outline: none; 
    cursor: pointer;
}

.custom-select:focus {
    outline: none;
}

.custom-input, .custom-input::placeholder {
    font-size: 1rem;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #515151;
    resize: none;
}

button {
    background-color: #f26532;
    width: 100%; 
    border: none; 
    font-size: 1rem; 
    cursor: pointer;
    transition: 1s;
}

button:hover {
    background: #d95b2d;
}