body {
    margin: 0px 75px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    scrollbar-width: 0px;
}

/* navbar stuff  */

nav {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand-logo {
    font-size: 2rem;
    font-weight: 500;
}

nav ul {
    display: flex;
    gap: 25px;
}

nav ul li {
    text-decoration: none;
    cursor: pointer;
    list-style: none;
}

.active {
    font-weight: bold;
    font-style: italic;
}

/* hero section */

.hero-container {
    background-color: #F7F7F7;
    display: flex;
    margin-bottom: 50px;
    width: 100%;
    height: 400px;
}

.hero-content {
    width: 50%;
    height: calc(100% - 100px);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-title {
    font-size: 3rem;
    font-weight: bolder;
}

.hero-subtitle {
    font-size: 2rem;
    font-weight: lighter;
}

.hero-content button {
    width: 150px;
    height: 35px;
    background-color: #BEBEBE;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.hero-image {
    background-color: #D9D9D9;
    height: 100%;
    width: calc(50% - 100px);
    border-bottom-left-radius: 350px;
}

/* quote section */

.quote-container {
    display: flex;
    width: calc(100% - 100px);
    min-height: calc(350px - 100px);
    padding: 50px;
    justify-content: end;
    align-items: center;
    position: relative;
}

.air-quote {
    background-image: url(assets/quotation.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 0px;
    left: 50px;
    z-index: 0;
}

.quote-content {
    padding: 0 50px;
    z-index: 1;
}

.quote-text {
    display: flex;
    font-size: 2rem;
}

.quote-image {
    width: 240px;
    height: 240px;
    background-color: #D9D9D9;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    color: white;
}

/* cta container */

.cta-container {
    background-color: #F7F7F7;
    display: flex;
    margin-bottom: 50px;
    width: calc(100% + 50px);
    margin-left: -75px;
    height: 575px;
    padding: 50px;
    flex-direction: column;
}

.cta-title {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.action-cards {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

.action-card {
    height: 100%;
    width: 33.333%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    max-width: 350px;
}

.action-image {
    height: 175px;
    width: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E3E3E3;
    border-radius: 50%;
    color: white;
    font-size: 5rem;
}

.action-text {
    display: flex;
}

.action-number {
    display: flex;
    align-items: center;
    padding: 0 25px;
    font-size: 1.5rem;
    font-weight: 500;
}

.action-heading {
    font-size: 1.5rem;
    font-weight: 500; 
    padding-bottom: 12.5px;
}

/* events-container */

.events-container {
    height: 350px;
    display: flex;
}

.slider {
    width: 50%;
    display: flex;
}

.event-display {
    width: calc(100% - 130px);
    height: 100%;
    background-color: #E3E3E3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slider-button-left, .slider-button-right {
    height: 100%;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E3E3E3;
    font-size: 2rem;
    cursor: pointer;
}

.slider-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-align: center;
}

.slider-image {
    font-size: 7rem;
    color: white;
    padding: 35px 0;
}

.slider-place {
    display: flex;
}

.slider-place div {
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
}

.slider-place div:nth-child(2){
    margin: 0 10px;
}

.event-info {
    width: 50%;
    padding: 25px;
}

.event-info div {
    margin-bottom: 25px;
}

.event-name, .join-us, .event-time, .event-location {
    font-size: 1.5rem;
}

.event-name, .event-time {
    font-weight: bold;
}

.join-us, .event-location {
    font-weight: lighter;
}

.event-location {
    padding-right: 125px;
}

/* clients-container */

.clients-container {
    display: flex;
    margin-bottom: 50px;
    width: calc(100% + 50px);
    margin-left: -75px;
    height: 400px;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.client-card {
    height: 85%;
    width: calc(30% - 85px);
    background-color: #D9D9D9;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.client-card:nth-child(2){
    height: 100%;
    background-color: #BEBEBE;
}

.client-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-image div {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BEBEBE;
    font-size: 2rem;
    color: white;
    border-radius: 50%;
}

/* articles-container */

.articles-container {
    background-color: #D9D9D9;
    display: flex;
    margin-bottom: 50px;
    width: calc(100% + 50px);
    margin-left: -75px;
    height: 575px;
    padding: 50px;
    padding-bottom: 0px;
    flex-direction: column;
}

.articles-main {
    width: 100%;
    height: 90%;
    display: flex;
}

.articles-slide {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.articles-slide div {
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
}

.articles-slide div:nth-child(2){
    margin: 0 10px 0 10px;
}

.articles-slide div:nth-child(3){
    margin: 0 10px 0 0;
}

.articles-text {
    width: 45%;
    height: 100%;
}

.articles-text button {
    width: 150px;
    height: 35px;
    background-color: transparent;
    color: #000;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
}

.article-info {
    height: 90%;
}

.article-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 25px;
}

.articles-images {
    height: 100%;
    width: 55%;
    background-color: red;
    display: flex;
}